matplotlib==3.7.0
opencv-python-headless
pandas==1.5.3
libzbar0
Requests==2.31.0
seaborn==0.12.2
streamlit==1.24.1
openpyxl
streamlit-camera-input-live
pydrive==1.3.1
email==1.0.0
smtplib==2.1.0
ssl==3.2.1
